<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="shortcut icon" type="image/jpg" href="/static/images/pokeball.png"/>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
        </style>
        <title>PokeDex.GA</title>
    </head>
    <header>
        <!-- <div id="logo"><img id="logo" src="/static/images/logo.png" /></div> -->
        <!-- <div id="nav"> -->
        <div class="nav">
            {%if session["user_id"]%}
            <a href="/sessions/destroy">Logout</a>
            {%else%}
            <a href="/login">Login</a>
            {%endif%}
            {%if session["user_id"]%}
            <a href="/users/{{session["user_id"][0]}}">Your Profile</a>
            {%endif%}
            <a href="https://github.com/BillyHoke/pokedex">About</a>
            <a class="active" href="/">Home</a>
            <img src="/static/images/logo.png"/>
        </div>

        </div>
    </header>
    <body style="margin: 0px;">
        <div class="main-content">{%block content%} {%endblock%}</div>
    </body>
</html>
