{% extends "base.html" %} {% block content %}
            <!-- <form id="search-form" action="/search" method="GET">
                <div id="search-field"></div>
                    <input class="search" type="search" name="query" placeholder="Search for a Pokemon within the orignial 151..." />
                    <input type="submit" value="Go!">
                </div>
            </form> -->
            <!-- {{search_error}} -->    
            {%if trainer_name == None or trainer_name == ''%}   
            {%else%}
            <div class="user_name" style="text-align: center; margin-top: 30px;"> {{get_user_info[4]}}'s Dream Team</div>
            {%endif%}
            <div class="held-pokemon">
                {% if held_pokemon|length == 0%}
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                {% elif held_pokemon|length == 1%}
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                {% elif held_pokemon|length == 2%}
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                {% elif held_pokemon|length == 3%}
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                {% elif held_pokemon|length == 4%}
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                {% elif held_pokemon|length== 5%}
                <img src="/static/images/pokeball.png" width="30px" height="30px"/>
                {%endif%}
                {%for pokemon in held_pokemon%}
                <div id="party">
                    <form action="/pokemon/{{pokemon[0]}}/delete" method="POST" style="text-align: center;">
                        <input type="image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon[0]}}.png" class="party-pokemon" alt="submit"/>
                    </form>
                </div>
            {%endfor%}
            </div>
        <div id="pokedex-wrapper">
            {% for result in pokemon %}
            <div class="pokemon-front">
                <a href="/pokemon/{{result["id"]}}" /> <img
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{result["id"]}}.png" /></a>
                <span>{{result["name"]}}</span>
            </div>
            {%endfor%}
        </div>
{%endblock%}
