{% extends "base.html" %} {% block content %}
    <body>
        <div id="search-field">
            <form action="/search" method="GET">
                <input type="search" name="query" />
                <input type="submit" value="Go!" />
            </form>
        </div>
        <div id="pokedex-wrapper">
            {% for results in pokemon %}
            <div class="pokemon-front">
                <a href="/search?query={{results["id"]}}" /> <img
                src="{{results["sprites"]["front_default"]}}" /></a>
                {{results["name"]}}
            </div>
            {%endfor%}
        </div>
    </body>
{%endblock%}
